<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Insert title here</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<p><span th:text="${data}"></span>Hi ii</p>
	<table>
	<tr th:each="data2 : ${test}">
		<td th:text="${data2.id}"></td>
		<td th:text="${data2.test}"></td>
	</tr>
	</table>
	<button type="button" onclick="moveHae();">해아름 맵으로 이동</button>
</body>

<script type="text/javaScript">
function moveHae(){
     location.href = "/hae";
}
</script>
</html>